<body>
    <header>
        <img src="./images/LOGO-MI-White.png" alt="LogoMI">     
        <a href="likepagina"><img src="./images/whiteheart.png" alt="Heart"></a>
    </header>
    <main>
        <section class="error">
            <h2>Oh no, something went wrong...</h2>
            <img classs="404img" src="./images/imgfoutmelding2.jpg" alt="Empty state image">
            <p>Please go back and try again.</p>
        </section>
    </main>
</body>