    {{!-- <main>
        <header>
        </header>  

        <section>
            
            <img src="/images/start-maeveinterior.jpg" alt="woonkamer">
            <button>Find your new inspiration</button>
        </section>
        <section>
            <img src="images/LOGO-MI.png" alt="logo">
        </section>
        <section>
            
        </section>
    </main> --}}