<body>
    <main>
        <section>
            <a href="overzicht">Find your new inspiration</a>
            <img class="achtergrondloading" src="./images/start-maeveinterior.jpg" alt="openingsscherm">
        </section>
        <section>
            <img class="logolaad" src="./images/LOGO-MI.png" alt="logo">
        </section>
         <section class="quote">
            <h3>{{author}}</h3>
            <p>{{quote}}</p>
        </section>
    </main>  
</body>
</html>