<body>
    <header>
        <img src="/images/LOGO-MI-White.png" alt="LogoMI">     
        <a href="/likepagina"><img src="/images/whiteheart.png"></a>
        <a href="/overzicht"><img src="/images/back.png" class="goback"></a>
    </header>
    <main>
        <section class="meerinformatie">
            <img src="{{style.detailImg}}">        
        <section class="tekstinterieur">
            <h3>{{style.detailName}}</h3>
            <p>{{style.detailTekst}}</p>  
        </section>
    </main>
    <footer class="infofooter">
        <p>Rechten onder voorbehoudt van MaeveInterior. - 2023.</p>
    </footer>
</body>