<body>
    <header>
        <img src="./images/LOGO-MI-White.png" alt="LogoMI">     
        <a href="likepagina"><img src="./images/whiteheart.png" alt="Heart"></a>
    </header>
    <main>
       <section class="uitlegtekst">
            <h2>Your likes.</h2>
            <p>A overview from the interieur inspiration that you gave a like.</p>
       </section>
       <section class="overzicht">
            <ul>
                {{#each likedStyles}}
                    <li>
                        <div>
                            <h3>{{this.interieurName}}</h3>
                            <p>{{this.interieurLocatie}}</p>
                        </div>
                        <img src="{{this.interieurImg}}"/>
                    </li>
                {{/each}}
            </ul>
       </section>
       <section>
        <a href="overzicht">Add new interieur inspiration</a>
       </section>
    </main>
</body>
