/* GEBRUIKTE FONTS */
@font-face {
    font-family: Boowie;
    src: url(BOOWIE.ttf);
    font-weight: regular;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-thin.ttf);
    font-weight: thin;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-SemiBold.ttf);
    font-weight: semibold;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Medium.ttf);
    font-weight: medium;
}
/* EINDE GEBRUIKTE FONTS */


/* MAIN BODY */
body {
    margin: 0;
    background-color: #DAD7D0;
}
/* EINDE MAIN BODY */



/* BEGIN LOADING PAGINA */
/* Afbeeldingen + link loading pagina */
main .achtergrondloading {
    width: 26em;
    height:56em;
}

main .logolaad {
    width: 50%;
    margin-top: -52em;
    margin-left: 6.5em;    
}

main section:nth-of-type(1) a {
    margin-left: 7em;
    margin-top: 43em;
    background-color: #F5F1CC;
    color: black;
    font-size: .9em;
    border: none;
    opacity: 0.8;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: BOOWIE;
    position: fixed;
}

.quote {
    margin-top: -63em;
    margin-left: 23em;
    margin-right: 2em;
    font-family: poppins;
    font-size: .65em;
    color: black;
}
/* Einde afbeeldingen + link loading pagina */
/* EINDE LOADING PAGINA */


/* VASTE HEADER */
header img:nth-of-type(1) {
    width: 40%;
    margin-top: 3em;
    margin-left: 8.5em; 
}

header a:nth-of-type(1) {
    width:15%;
    margin-right: 8em;
    margin-left:-6em;
    margin-top: 0em;
    position: absolute;
    z-index: 100;
} 
/* Einde vaste header */
/* EINDE VASTE */



/* BEGIN OVERZICHT PAGINA */
/* Inleidende tekst */
main .welkomtekst h2 {
    font-family: Boowie;
    color: #435F50;
    font-size: 1.2em;
    margin-left: 1em;
    margin-top: 1.33em;
}

main .welkomtekst p {
    font-family: poppins;
    color: #435F50;
    font-size: .8em;
    margin-top: -1.2em;
    margin-left: 1.55em;
}
/* Einde inleidende tekst */

/* Grid maken */
main .overzicht ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: -1em;
    list-style: none;
    padding: 1em;
}
/* Einde grid maken */


/* Grid indeling  */
main .overzicht ul li:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}

main .overzicht ul li:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: -1;
}

main .overzicht ul li:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: -3;
}

main .overzicht ul li:nth-of-type(4) {
    grid-column-start: -2;
    grid-column-end: -1;
}

.overzicht img:nth-of-type(1) {
    width: 100%;
}
/* Einde afbeeldingen scalen grid */


/* Hartje positioneren */
form button .hartjeoverzicht {
    width: 6%;
    z-index: 1;
    position:absolute;
    margin-left: -1em;
    margin-top:-.5em;
    padding: 0;
    cursor: pointer;
} 

.overzicht form button  {
    background-color: transparent;
    border: none;
    margin-top: -19em;
    margin-left: 10.5em;
    width: 21%;
    height: 9%;  
}

/* Tekst op het grid */
main .overzicht li:nth-of-type(1) div {
    position: absolute;
    left: 0.98em;
    width: 11.45em;
    height: 3.75em;
    display: flex;
    background-color: white;
    opacity: .8;
    top: 24em;
    z-index: 1;
    color: black;
    font-family: poppins;
}

main .overzicht li:nth-of-type(1) div h3 {
    font-family: Boowie;
    font-size: 1em;
    margin-top: .9em;
    margin-left: 1em;
}

main .overzicht li:nth-of-type(1)  div p {
    font-family: poppins;
    font-size: .8em;
    margin-top: 2.5em;
    margin-left: -11.2em;
}

main .overzicht li:nth-of-type(2) div {
    position: absolute;
    left: 13.42em;
    width: 11.45em;
    height: 3.75em;
    display: flex;
    background-color: white;
    opacity: .8;
    top: 24em;
    z-index: 1;
    color: black;
    font-family: poppins;
}

main .overzicht li:nth-of-type(2) div h3 {
    font-family: Boowie;
    font-size: 1em;
    margin-top: .9em;
    margin-left: 1em;
}

main .overzicht li:nth-of-type(2) div p {
    font-family: poppins;
    font-size: .8em;
    margin-top: 2.5em;
    margin-left: -8.6em;
}

main .overzicht li:nth-of-type(3) div {
    position: absolute;
    left: 1em;
    width: 11.45em;
    height: 3.95em;
    display: flex;
    background-color: white;
    opacity: .8;
    top: 43em;
    z-index: 1;
    color: black;
    font-family: poppins;
}

main .overzicht li:nth-of-type(3) div h3 {
    font-family: Boowie;
    font-size: 1em;
    margin-top: .9em;
    margin-left: 1em;
}

main .overzicht li:nth-of-type(3) div p {
    font-family: poppins;
    font-size: .8em;
    margin-top: 2.9em;
    margin-left: -7.8em;
}

main .overzicht li:nth-of-type(4) div {
    position: absolute;
    left: 13.45em;
    width: 11.45em;
    height: 3.95em;
    display: flex;
    background-color: white;
    opacity: .8;
    top: 43em;
    z-index: 1;
    color: black;
    font-family: poppins;
}

main .overzicht li:nth-of-type(4) div h3 {
    font-family: Boowie;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

main .overzicht li:nth-of-type(4) div p {
    font-family: poppins;
    font-size: .8em;
    margin-top: 2.9em;
    margin-left: -5.6em;
}

.overzicht form .hartjeleeg {
    width:7%;
    z-index: 100;
    position: absolute;
    margin-left: -2em;   
}

.hartjevol {
    margin-top: 1em;
}
/* Einde tekst op het grid */
/* EINDE OVERZICHT PAGINA */


/* BEGIN LIKEPAGINA */
/* Inleidende tekst */
main .uitlegtekst h2 {
    font-family: Boowie;
    color: #435F50;
    font-size: 1.2em;
    margin-left: 1em;
    margin-top: 1.33em;
}

main .uitlegtekst p {
    font-family: poppins;
    color: #435F50;
    font-size: .8em;
    margin-top: -1.2em;
    margin-left: 1.55em;
}
/* Einde inleidende tekst */

/* Link naar nieuwe likes kiezen */
main section:nth-of-type(3) a {
    margin-left: 5.5em;
    margin-top: 0em;
    background-color: white;
    color: black;
    font-size: .9em;
    border: none;
    opacity: 0.8;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: BOOWIE;
    position: fixed;
}
/* Einde link naar nieuwe likes kiezen */
/* EINDE LIKEPAGINA */


/* BEGIN ERROR 404 PAGE */
.error img {
    width: 26em;
    height: 56em;
    position:absolute;
    z-index: -1;
    margin-top: -20em;
    margin-left: 0em;
}

.error h2 {
    font-family: boowie;
    font-size: 1em;
    margin-left:6em;
    margin-top: 11em
}

.error p {
    font-family: poppins;
    font-size: .8em;
    margin-left: 9.5em
}
/* EINDE ERROR 404 PAGE  */

/* BEGIN FOOTER */
 footer {
    background: black;
    height: 2em;
    margin-top: 5em;
}

footer p {
    color: white;
    font-family: poppins;
    font-size: .6em;
    padding-top: 1em;
    padding-left: 8em;
}
/* EINDE FOOTER */



/* BEGIN INTERIEURINFO */
main .interieurinfo {
    width: 27em;
    height: 50em;
    background-color: #DAD7D0;
    margin-top: -20em;
    position: absolute;
    z-index: -1;

}

main .tekstinterieur h3 {
    font-family: Boowie;
    background-color: white;
    padding-top: 2em;
    padding-left: 1.5em;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 11em;
    margin-left: 7em;
}

main .tekstinterieur p {
    font-family: poppins;
    font-size: .75em;
    background-color: white;
    padding-left: 2.3em;
    padding-top: 1em;
    padding-bottom: 16.8em;
    padding-right: 1.5em;
    opacity: .8;
    margin-top: 0;
    margin-left: 10.9em;
}

.teksthartje {
    width: 5%;
    margin-left: 23em;
    margin-top: 2.2em;
    z-index: 2;
    position: absolute;
}

.meerinformatie img {
    width: 100%;
    height: 95%;
    position: absolute;
    z-index: -1;
    margin-top: -20em;
}

header a .goback {
    width: 8%;
    margin-top: -2em;
    margin-left: -17em;
}

.infofooter {
    background: black;
    height: 3em;
    margin-top: -.79em;
}

.infofooter p {
    color: white;
    font-family: poppins;
    font-size: .6em;
    padding-top: 1.5em;
    padding-left: 8em;
}
/* EINDE INTERIEURINFO */
